<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1977954D-DDB8-4DF1-BEE4-E75CAC9A47CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB96BA86-776D-40F1-9920-D1D51698EA52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>55476B83-D3F8-43B6-BE1F-0A92FAE4FA8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55476B83-D3F8-43B6-BE1F-0A92FAE4FA8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0858D03E-4765-40F7-A0DE-7E587EAFB80F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BB96BA86-776D-40F1-9920-D1D51698EA52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D910AE5-6994-4A62-AB17-C02DC471CE74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Masayuki Ono</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Reminder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./pre_reminder.py `echo {query}`</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB96BA86-776D-40F1-9920-D1D51698EA52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1D910AE5-6994-4A62-AB17-C02DC471CE74</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>remind</string>
				<key>subtext</key>
				<string>ex: remind 5 m -m Buy_some_milk</string>
				<key>text</key>
				<string>Remind specified time later with message</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1977954D-DDB8-4DF1-BEE4-E75CAC9A47CA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./reminder.py `echo {query}`
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55476B83-D3F8-43B6-BE1F-0A92FAE4FA8E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>0858D03E-4765-40F7-A0DE-7E587EAFB80F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0858D03E-4765-40F7-A0DE-7E587EAFB80F</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>1977954D-DDB8-4DF1-BEE4-E75CAC9A47CA</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>1D910AE5-6994-4A62-AB17-C02DC471CE74</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>55476B83-D3F8-43B6-BE1F-0A92FAE4FA8E</key>
		<dict>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>BB96BA86-776D-40F1-9920-D1D51698EA52</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://mono0926.github.io/</string>
</dict>
</plist>
